@import "tailwindcss";

@theme {
  /* Design Palette */
  --color-brand: #0052cc;
  --color-brand-hover: #0747a6;
  --color-brand-subtle: #deebff;

  --color-ds-bg: #ffffff;
  --color-ds-bg-neutral: #f4f5f7;
  --color-ds-bg-neutral-hover: #ebecf0;
  --color-ds-bg-neutral-subtle: #fafbfc;

  --color-ds-text: #172b4d; /* Primary Charcoal */
  --color-ds-text-subtle: #5e6c84; /* Secondary Cool Gray */
  --color-ds-text-brand: #0052cc; /* Brand Blue */

  --color-ds-border: #dfe1e6; /* Light Gray Border */
  --color-ds-border-focus: #4c9aff; /* Soft Focus Blue */

  /* Issue Priorities */
  --color-ds-priority-highest: #de350b;
  --color-ds-priority-high: #ff5630;
  --color-ds-priority-medium: #ffab00;
  --color-ds-priority-low: #36b37e;
  --color-ds-priority-lowest: #0065ff;

  /* Custom Radii & Shadows */
  --radius-ds-btn: 3px;
  --radius-ds-card: 4px;
  --shadow-ds-elevation:
    0px 1px 1px rgba(9, 30, 66, 0.25), 0px 0px 1px rgba(9, 30, 66, 0.31);
  --shadow-ds-dialog:
    0px 8px 24px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31);
}

body {
  background: var(--color-ds-bg-neutral-subtle);
  color: var(--color-ds-text);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  margin: 0;
  padding: 0;
}
